body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.container {
	width: 500px;
	height: 620px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
	position: relative;
	border-radius: 20px;
	overflow-y: hidden;
}

.todo-headline {
	display: flex;
	justify-content: flex-end;
	margin-right: 30px;
}

.ul-container {
	padding-top: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 320px;
	margin-top: 30px;
	padding-bottom: 10px;
	background-color: whitesmoke;
}

ul {
	display: flex;
	gap: 20px;
	flex-direction: column;
	list-style-type: none;
	padding-left: 5px;
	margin-left: 20px;
	margin-right: 20px;
}

li {
	display: grid;
	grid-template-columns: 1fr 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	width: 400px;
	padding: 15px;
	border-radius: 6px;
	font-family: 'Caveat', cursive;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	overflow: auto;
	padding-right: 10px;
	padding-bottom: 0;
	padding-top: 0;
}

.create-item-container {
	margin-top: 0;
}

.user-input {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
	margin: 10px;
	padding: 10px;
	border-radius: 6px;
	margin-left: 10px;
}

.create-item-container h1 {
	margin-bottom: 0;
	font-size: 22px;
	margin-left: 10px;
}

.icon {
	margin-left: 250px;
	margin-right: 0px;
}

h1 {
	font-family: 'Caveat', cursive;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Open Sans', sans-serif;
}

.create-item-container {
	margin-left: 20px;
	position: absolute;
}

button {
	background-color: gray;
	border: none;
	color: white;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 15px;
	margin-top: 110px;
	margin-bottom: 30px;
}

button:hover {
	background-color: black;
}

.time-stamp {
	font-size: 12px;
	color: gray;
}

.options {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.content {
	line-height: 10px;
	word-wrap: break-word;
	width: 340px;
}

.content-p {
	line-height: 20px;
}

.timestamp {
	color: gray;
	font-size: 14px;
}

#color {
	border-radius: 10px;
	margin-left: 30px;
	padding: 10px;
}

.fa-trash {
	color: gray;
}

.fa-trash:hover {
	color: black;
}

.fa-pen-to-square {
	color: gray;
}

.fa-pen-to-square:hover {
	color: black;
}

.fa-check {
	color: gray;
}

.fa-check:hover {
	color: black;
}
